.mainContainer {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line {
    height: 1px;
    width: 70%;
    background-color: rgb(95, 94, 94);
}
.paragraph {
    width: 80%;
    text-align: left;
}
.spanColorOrange {
    color: rgb(214, 140, 3);
}
.codingPart {
    padding: 15px 30px;
    background-color: rgb(49, 49, 49);
    color: white;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    width: 70%;
    margin: 0 auto;
    line-height: 1.6;
}
.imageMid {
    /* background-color: blue; */
    /* width: 90%; */
    display: flex;
    justify-content: center;
}
.imageMid img {
    /* border: 2px solid red; */
    border-radius: 10px;
    width: 90%;
}
.note {
    background-color: rgba(247, 225, 126, 0.767);
    min-width: 50%;
    border-left: 20px solid rgb(190, 188, 58);
    border-radius: 5px;
    padding: 10px;
    text-align: left;
}

table {
    padding: 10px;
    background-color: rgb(75, 105, 139);
    border-radius: 10px;
    color: white;
    width: 100%;
}
.blue {
    color: rgb(163, 189, 219);
}
button {
    background-color: rgb(48, 75, 149);
    border: none;
    padding: 8px;
    color: white;
    border-radius: 5px;
}
button:hover {
    background-color: rgb(64, 93, 173);
    border: none;
    padding: 8px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:active {
    background-color: rgb(29, 58, 138);
    border: none;
    padding: 8px;
    color: rgb(202, 67, 67);
    border-radius: 5px;
    cursor: pointer;
}

.links:hover {
    cursor: pointer;
}
