.mainContainer {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line {
    height: 1px;
    width: 70%;
    background-color: rgb(95, 94, 94);
}
.paragraph {
    width: 80%;
    text-align: left;
}
.spanColorOrange {
    color: rgb(214, 140, 3);
}
.codingPart {
    padding: 15px 30px;
    background-color: rgb(49, 49, 49);
    color: white;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
}
.imageMid {
    /* background-color: blue; */
    /* width: 90%; */
    display: flex;
    justify-content: center;
}
.imageMid img {
    /* border: 2px solid red; */
    border-radius: 10px;
    width: 90%;
}

table {
    padding: 10px;
    background-color: rgb(75, 105, 139);
    border-radius: 10px;
    color: white;
    width: 100%;
}
.blue {
    color: rgb(163, 189, 219);
}
