.mainContainer {
    background-color: #282c34;
    width: 90%;
    height: 130px;
    margin-top: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav {
    /* background-color: rgb(196, 196, 196); */
    color: rgb(233, 233, 233);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* height: 50%; */
}
.nav a {
    /* background-color: rgb(196, 196, 196); */
    color: rgb(233, 233, 233);
}
.nav a:hover {
    /* margin: 10px; */
    padding: 5px;
    margin: 0;
    width: 100%;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgba(51, 68, 167, 0.287);
}
.active {
    color: brown;
    /* margin: 10px; */
    padding: 5px;
    margin: 0;
    width: 100%;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 69, 167);
}
